/* CSS Document */
@import 'abstracts/variables';

body {
	margin: 0;
	min-height: 100vh;
}


.logo {
	height: 50px;
	margin: 20px;
}


// navbar
.navbar{
-webkit-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.5);
box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.5);
	font-family: 'Nunito', sans-serif;
}

.show .menu-item{
	background-color:red;
	
}
.nav-active{
	text-decoration: underline;
}

.menu-item{
	font-size:25px;
}